* {
    margin: 0;
    padding: 0;
}

body {
    background: #1e1b33;
}

.logo {
    font-family: 'Merriweather', sans-serif;
    font-size: 17pt;
}

.logo,
ul li {
    color: #fff;
}

nav ul li:hover,
nav ul svg:hover {
    cursor: pointer;
    color: #eb4b60d0;
    fill: #eb4b60;
    transition: 200ms;
}

nav,
nav ul {
    display: flex;
}

nav {
    justify-content: space-around;
    margin-top: 1em;
}

nav ul {
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    font-family: 'poppins', sans-serif;
}
nav ul a{
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #eb4b60;
}

nav ul svg {
    height: 1.5em;
    width: 1.5em;
    fill: #fff;
}

.body-content-home {
    display: flex;
    justify-content: center;
}

.body-content-home img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    position: relative;
    left: 27%;
}

.profile-name {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

.body-content-home div:first-child {
    margin-top: 8em;
}

.body-content-home div:first-child h1 {
    margin-top: 0.4em;
}

.body-content-home div:first-child p:nth-child(3) {
    color: #fff;
    text-align: center;
    font-family: 'poppins', sans-serif;
    margin-top: .5em;
}

.social-icon svg {
    height: 1.5em;
    width: 1.5em;
    fill: #fff;
}

div:first-child .social-icon {
    margin: 0;
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;
}

.social-icon svg:hover {
    fill: #d8dcdbb1;
}

.hire-btn {
    background-color: #eb4b60;
    font-family: 'poppins', sans-serif;
    font-size: 12pt;
    color: #fff;
    padding: 0.5em 2.5em;
    border-radius: 2em;
    margin-top: 1em;
    margin-left: 4.5em;
    border: none;
}

.hire-btn:hover {
    background: #e47281;
    transition: 250ms;
    cursor: pointer;
}

.content-center {
    display: block;
    justify-content: center;
}

.mouse-icon {
    fill: #fff;
    height: 1.5em;
    width: 1.5em;
    margin-left: 8.5em;
}

.scroll-txt {
    margin-top: 5em;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 9pt;
    text-align: center;
    margin-bottom: .5em;
}

.about-me-txt {
    color: #fff;
    font-family: 'arial';
    font-weight: 600;
}

.index-about-section {
    margin: 4em;
}

.index-about-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

.index-about-1 img {
    border-radius: 50%;
    width: auto;
    height: 10em;

}

.index-about-1-1 {
    background: #31264fc5;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    height: max-content;
    width: 70%;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 12pt;
    border-radius: 1.5em;
}

.index-about-1-1 div:nth-child(2) h3 {
    font-size: 12pt;
    font-weight: 500;
}

.index-about-1-1 .index-about-2 {
    width: 60%;
}

.index-about-1-1 .index-about-bar {
    width: 35%;
}

.index-bar {
    display: flex;
    justify-content: space-between;
}

.no-margin {
    margin-left: 0;
}

.index-bar-1 {
    width: 100%;
    height: .5em;
    border: 1px solid gray;
    border-radius: 2em;
    margin-top: .4em;
    margin-bottom: .4em;
}

.index-bar-1-show {
    height: 100%;
    width: 95%;
    background: rgb(216, 216, 7);
    border-radius: 2em;
}

.index-bar-2-show {
    height: 100%;
    width: 75%;
    background: rgb(211, 41, 92);
    border-radius: 2em;
}

.index-bar-3-show {
    height: 100%;
    width: 85%;
    background: rgb(228, 14, 217);
    border-radius: 2em;
}
.index-status-1 svg{
    height: 1.5em;
    width: 1.5em;
    fill: #fff;
}
.about-drop-content{
    color: #fff;
    background: #22a7b6a2;
    width: max-content;
    font-family: 'poppins', sans-serif;
    font-size: 12pt;
    border-radius: .5em;
    line-height: 2;
    position: absolute;
    top: 2em;
    left: 17.5em;
    display: none !important;
  }
  .about-drop-content ul{
      display: inline-block;
  }
  .about-drop-content ul li {
    list-style: none;
    width: 15em;
    padding: .1em .7em;
  }
  .about-drop-content ul li:hover {
    background-color: #e9e0e0e7;
    color: #1e1b33;
    cursor: pointer;
  }
  .about-drop-content ul li .fa {
    height: 1em;
    width: 1em;
    fill: #fff
  }
  .show{
     display: block !important;
  }
  .nav-items{
      position: relative;
  }
  .web-dev:hover{
      border-top-left-radius: .5em;
      border-top-right-radius: .5em;
  }
  .web-master:hover{
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
  }
  /* .experience{
      width: max-content;
  }
  .experience:hover .about-drop-content{
      visibility: visible;
  }
  .experience:hover .about-drop-content ul{
      display: block;
  } */
  .index-status-container{
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
  }
  .index-status-1{
      color: #fff;
      display: flex;
      justify-content: space-evenly;
      font-size: 20pt;
  }
  .index-status-1 h3{
      font-size: 15pt;
      font-family: 'poppins', sans-serif;
      font-weight: 500;
      margin-top: .5em;
  }
  .index-status-1 p{
      font-size: 12pt;
      font-family: 'poppins', sans-serif;
      font-weight: 500;
  }
  .services-box{
      height: max-content;
      width: 23em;
      background: white;
      border-radius: .5em;
      display: flex;
      text-align: center;
  }
  .index-services-section{
      display: flex;
      justify-content: space-evenly;
      color: #fff;
      font-family: 'poppins', sans-serif;
      margin-top: 2em;
  }
  .index-about-section .sb1{
      background: #5d00ff;
      padding: 1em;
  }
  .index-about-section .sb2{
    background: #ffc400;
    padding: 1em;
}
.index-about-section .sb3{
    background: #ff00a6ea;
    padding: 1em;
}
.sb1 img, .sb2 img, .sb3 img{
    height: 7em;
    width: auto;
}
.sb1 h3, .sb2 h3, .sb3 h3{
    font-weight: 600;
    margin: .5em 0;
}
.sb1 p, .sb2 p, .sb3 p{
    font-size: 11pt;
}
.foot-p{
    color: #fff;
    font-family: 'poppins', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}
.foot-p span a{
    color: #eb4b60;
    text-decoration: none;
}
.foot-p span a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.pricing-box{
    height: max-content;
    width: 23em;
    background: white;
    border-radius: .5em;
    display: flex;
    text-align: center;
}
.index-about-section .pp1{
    background: #55038484;
    padding: 1em;
}
.index-about-section .pp2{
  background: #55038484;
  padding: 3em 0;
  /* height: 26em;
  align-items: center; */
  border-radius: 1.5em;
}
.index-about-section .pp3{
  background: #55038484;
  padding: 1em;
}
.pp1 img, .pp2 img, .pp3 img{
    height: 7em;
    width: auto;
}
.pp1 h3, .pp2 h3, .pp3 h3{
    font-weight: 600;
    margin: .5em 0;
}
.pp1 p, .pp2 p, .pp3 p{
    font-size: 11pt;
    font-family: 'Poppins', sans-serif;
}
.pricing-feature{
    font-weight: 600;
    margin-top: .5em;
}
.pricing-dollar{
    margin-top: .5em;
}
.pricing-dollar span{
    font-size: 30pt;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.index-pricing-section{
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'poppins', sans-serif;
    margin-top: 2em;
}
.pricing-btn{
    font-size: 12pt;
    font-weight: 600;
    padding: .5em 1.8em;
    background: #eb4b60;
    color: #fff;
    border-radius: 2em;
    border: 2px solid transparent;
    margin-top: 1em;
}
.pricing-btn:hover{
    background: #eb4b60e0;
}
.experience-status{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-family: 'poppins';
}
.experience-status .pricing-box{
    width: 50%;
    margin: 1em;
}
.experience-status .pricing-box .pricing-box-content span{
    display: inline-block;
    height: 100%;
    width: .2em;
    background: #eb4b60;
}
.experience-status .pricing-box .pricing-box-content{
    display: flex;
}
.experience-status .pricing-box .pricing-box-content span .fas{
    color: #eb4b60;
    margin-left: -.43em;
    display: block;
}
.exp-1{
    margin-top: .1em;
    margin-bottom: 9em;
}
.exp-2{
    margin-bottom: 9em;
}
.experience-details{
    margin-left: 1em;
    display: block !important;
}
.experience-details-1, .experience-details-2{
    display: block !important;
    text-align: left;
    margin-bottom: 2em;
}
.experience-details-1 h1, .experience-details-2 h1, .experience-details-3 h1{
    font-size: 14pt;
    font-weight: 600;
    margin: .5em 0;
}
.experience-details-1 p, .experience-details-2 p, .experience-details-2 p{
    font-weight: 300;
    font-size: 10pt;
}
.experience-details-3{
    display: block !important;
    text-align: left;
}
.review-margin{
    margin-top: -6em;
}
.pricing-foot{
    background: #55038484;
    padding: 1em;
    width: 65%;
    margin: 1em auto;
    border-radius: 1em;
    color: #fff;
}
.portfolio-nav{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin: auto;
    margin-bottom: 2em;
}
.portfolio-nav li{
    list-style-type: none;
    padding: 10px 15px;
    font-size: 15pt;
    font-family: 'poppins';
}
.portfolio-hide{
    display: none;
}
.portfolio-nav-active{
    background: #eb4b6038;
    border-left: 6px solid brown;
    border-bottom: 6px solid brown;
    border-top-right-radius: 1em;
}
.portfolio-nav li:hover{
    cursor: pointer;
    background: #eb4b6038;
}
.for-everything,
.for-arts,
.for-creative,
.for-design{
    text-align: center;
}
.for-everything-1 span,
.for-everything-2 span,
.for-arts-1 span,
.for-arts-2 span,
.for-creative-1 span,
.for-creative-2 span,
.for-design-1 span,
.for-design-2 span{
    display: inline-block;
    height: 15em;
    width: 15em;
    background: #fff;
    margin: .5em;
}
.for-everything-1 span:first-child,
.for-everything-1 span:nth-child(2),
.for-everything-1 span:nth-child(3),
.for-everything-2 span:first-child,
.for-everything-2 span:nth-child(2),
.for-everything-2 span:nth-child(3),
.for-arts-1 span:first-child,
.for-arts-1 span:nth-child(2),
.for-arts-1 span:nth-child(3),
.for-arts-2 span:first-child,
.for-arts-2 span:nth-child(2),
.for-arts-2 span:nth-child(3),
.for-creative-1 span:first-child,
.for-creative-1 span:nth-child(2),
.for-creative-1 span:nth-child(3),
.for-creative-2 span:first-child,
.for-creative-2 span:nth-child(2),
.for-creative-2 span:nth-child(3),
.for-design-1 span:first-child,
.for-design-1 span:nth-child(2),
.for-design-1 span:nth-child(3),
.for-design-2 span:first-child,
.for-design-2 span:nth-child(2),
.for-design-2 span:nth-child(3){
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #fff !important;
}
.for-everything-1 span:first-child{
    background: url('https://th.bing.com/th/id/R.9ca5cdf6c27f42e54dd08988b04aa76a?rik=Nc1BjRIloHtC0A&pid=ImgRaw&r=0&sres=1&sresct=1');
}
.for-everything-1 span:nth-child(2){
    background: url('https://cdni.iconscout.com/illustration/premium/thumb/web-development-2974884-2488459.png');
}
.for-everything-1 span:nth-child(3){
    background: url('https://th.bing.com/th/id/R.564bc96020c5b637f28636dfdb9d0636?rik=AweUc1jPZi4MhA&pid=ImgRaw&r=0');
}
.for-everything-2 span:first-child{
    background: url('https://th.bing.com/th/id/R.c9ef6d72c5bfab6c09c1a1dfa3092aa9?rik=wmW%2fc8dMaevAYg&riu=http%3a%2f%2fwww.ars-network.com%2fwp-content%2fuploads%2f2018%2f12%2fweb-development.png&ehk=%2fVERc5rTipFP9lX4Xf8%2fQIF%2bhC5We1I8bCHg%2fYWwmTs%3d&risl=&pid=ImgRaw&r=0');
}
.for-everything-2 span:nth-child(2){
    background: url('https://th.bing.com/th/id/R.99126ed835b618402477e0db6d8c4273?rik=gRS7vzVjHXLuXg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fweb-development-png-website-development-company-in-noida-1100.png&ehk=LHRb9kAChY%2bPXWH9nJHjsamJzWhaRhEWrIzK8TBwDDs%3d&risl=&pid=ImgRaw&r=0');
}
.for-everything-2 span:nth-child(3){
    background: url('https://letsmobility.com/content/images/2019/07/web-icon.png');
}

.for-arts-1 span:first-child{
    background: url('https://imgs.search.brave.com/2PqdmdKv13Rjz3DAG_QxNeWmOUYnPtCrHHIxWBI8hTs/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvcGFsZXR0ZS9w/YWxldHRlX1BORzY4/MjgyLnBuZw');
}
.for-arts-1 span:nth-child(2){
    background: url('https://imgs.search.brave.com/uWIkjBCUVDRoVmTBoKa3sYedfGQVelwGjaSFLVnf9oM/rs:fit:579:756:1/g:ce/aHR0cDovL3d3dy5w/bmdhbGwuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8zL0FydC1U/cmFuc3BhcmVudC5w/bmc');
}
.for-arts-1 span:nth-child(3){
    background: url('https://imgs.search.brave.com/LnO-gCnjM8Bh-VmrLtkCw89M3BO0PyPUaRPiV-NHFFo/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9mcmVl/cG5naW1nLmNvbS90/aHVtYi9hYnN0cmFj/dC8zLTItYWJzdHJh/Y3QtcG5nLXBpYy5w/bmc');
}
.for-arts-2 span:first-child{
    background: url('https://imgs.search.brave.com/_Deag8Vzteme7o18GOvMzMeU2Kl3CHYP0Ax18REHJww/rs:fit:690:726:1/g:ce/aHR0cDovL3d3dy5w/bmdtYXJ0LmNvbS9m/aWxlcy8xMS9QYWlu/dC1BcnQtVHJhbnNw/YXJlbnQtUE5HLnBu/Zw');
}
.for-arts-2 span:nth-child(2){
    background: url('https://imgs.search.brave.com/tDcYpWKcf1JMhgC8OYbllBbOiTbklhcfsdCBHM4fyMo/rs:fit:960:672:1/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL3BuZy1wYWxs/ZXQtcGFsZXR0ZS1w/YWludC1vaWwtcGFp/bnRpbmctcGFpbnRl/ci1hcnQtYnJ1c2gt/OTYwLnBuZw');
}
.for-arts-2 span:nth-child(3){
    background: url('https://imgs.search.brave.com/ah59Uo00Ht2_RIliRPcxFSXtLjkAW6DxjPYkyNTxKzM/rs:fit:512:512:1/g:ce/aHR0cDovL2ljb25z/Lmljb25hcmNoaXZl/LmNvbS9pY29ucy9y/YWluZHJvcG1lbW9y/eS9nYWlhLTEwLzUx/Mi9BcnQtaWNvbi5w/bmc');
}

.for-creative-1 span:first-child{
    background: url('https://imgs.search.brave.com/qmM02bdNutUC9HpV3hys7iCGzCmp5gbJrNAcHLMf9PM/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5I/M0ttdkhUVGNtWWE3/akhIdGhiUllBSGFI/YSZwaWQ9QXBp');
}
.for-creative-1 span:nth-child(2){
    background: url('https://th.bing.com/th/id/R.4e2707d98ae7cd74f7ae7c4237035c3f?rik=ijgjs0H76477Mg&riu=http%3a%2f%2fjenniferalten.com%2fwp-content%2fuploads%2f2015%2f04%2fLightbulb_ColorChange.png&ehk=l%2fzuC%2bgprh%2fW6820gJj%2fwqwgmb5kfy2Zs1j7iHbnaoo%3d&risl=&pid=ImgRaw&r=0');
}
.for-creative-1 span:nth-child(3){
    background: url('https://th.bing.com/th/id/R.7bb3184908d51db85a000d90a04e2787?rik=RNiXNck61iRR7A&pid=ImgRaw&r=0');
}
.for-creative-2 span:first-child{
    background: url('https://th.bing.com/th/id/R.02a2423641621a950b9499605c548957?rik=6UB4U6a5ha59Rg&pid=ImgRaw&r=0');
}
.for-creative-2 span:nth-child(2){
    background: url('https://th.bing.com/th/id/OIP.FF5KXINLCDdVqO2byhko0QHaEK?pid=ImgDet&w=1280&h=720&rs=1');
}
.for-creative-2 span:nth-child(3){
    background: url('https://th.bing.com/th/id/R.a5d33bce5908bde3c7070753839d7c25?rik=uw6Qqvl7TYsC8w&pid=ImgRaw&r=0');
}

.for-design-1 span:first-child{
    background: url('https://th.bing.com/th/id/R.89ea81e1906d12b4390b0b70f39aa471?rik=TwSzr%2bjTnqlruA&pid=ImgRaw&r=0');
}
.for-design-1 span:nth-child(2){
    background: url('https://th.bing.com/th/id/OIP.lLybnKBIQseN45-QkNOxBgHaCY?pid=ImgDet&rs=1');
}
.for-design-1 span:nth-child(3){
    background: url('https://th.bing.com/th/id/R.de48b7890a7dbbdbebff3362349254cf?rik=V81aMqhSP7b61g&pid=ImgRaw&r=0');
}
.for-design-2 span:first-child{
    background: url('https://pngimg.com/uploads/fingerprint/fingerprint_PNG59.png');
}
.for-design-2 span:nth-child(2){
    background: url('https://th.bing.com/th/id/OIP.JhzgPMI-5a6z-W9g1f_HXQHaCt?pid=ImgDet&rs=1');
}
.for-design-2 span:nth-child(3){
    background: url('https://th.bing.com/th/id/R.b05957008ee7fc5edc3a6ca4e8169f62?rik=AJi5UpsCs0KJmA&pid=ImgRaw&r=0');
}